$color_1: #000;
$color_2: inherit;
$color_3: revert;
$font-family_1: revert;
$background-color_1: #fff;
$background-color_2: none;

.leftquote {
	background-color: $background-color_1;
	font-size: 24px;
	color: $color_1;
	font-style: italic;
	line-height: 150%;
	padding: 5px 5px 5px 15px;
	width: 275px;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color=#25000000, Positive='true');
	margin: 10px 25px 10px 0;
	float: left;
	border: 1px solid #666;
	-moz-border-radius: 10px;
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.rightquote {
	background-color: $background-color_1;
	font-size: 24px;
	color: $color_1;
	font-style: italic;
	line-height: 150%;
	padding: 5px 5px 5px 15px;
	width: 275px;
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color=#25000000, Positive='true');
	margin: 10px 0 10px 25px;
	float: right;
	border: 1px solid #666;
	-moz-border-radius: 10px;
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
.GlobalBtn {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 30px;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.IL_Active {
	a {
		text-transform: uppercase;
		color: $color_1 !important;
		background-color: $background-color_2;
		font-weight: 700;
	}
	background: #DDD;
}
#IL_Tabs {
	a {
		text-decoration: none;
		padding: 12px 0;
		display: block;
		position: relative;
		background: 0 0;
	}
	float: right;
	height: 100%;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 30%;
	select {
		display: none;
	}
	h3 {
		background: 0 0;
		margin: 10px;
	}
	ul {
		list-style: none;
		margin: 0 0 10px;
		padding: 0;
	}
	li {
		padding: 0 10px;
		border-bottom: 1px solid #FFF;
		&:last-child {
			border-bottom: 0 none;
		}
		&:hover {
			a {
				padding-left: 5px;
				margin-right: -5px;
			}
		}
	}
	li.IL_Active {
		&:hover {
			a {
				padding-left: 0;
				margin-right: 0;
			}
		}
	}
}
.hubtab {
	text-decoration: none;
	min-width: 30px;
	width: auto;
	float: left;
	padding: .2em 1em .15em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-top-right-radius: .8em;
	-webkit-border-top-left-radius: .8em;
	-moz-border-radius-topright: .8em;
	-moz-border-radius-topleft: .8em;
	border-top-right-radius: .8em;
	border-top-left-radius: .8em;
	-webkit-box-shadow: .1em -.1em .2em rgba(0,0,0,.3);
	-moz-box-shadow: .1em -.1em .2em rgba(0,0,0,.3);
	box-shadow: .1em -.1em .2em rgba(0,0,0,.3);
}
html {
	>body {
		.hubtab {
			min-width: 30px;
			width: auto;
		}
	}
}
.float-left {
	float: left;
}
.thumbpad {
	float: left;
	display: block;
	width: 78px;
	height: 78px;
	margin-right: 20px;
}
.hubsection {
	height: 80px;
	padding: 30px 0 20px;
	border-bottom: 1px solid #888;
}
.thumbborder {
	background: #fff;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	border: 1px solid #999;
	padding: 5px;
}
.headerline {
	clear: both;
	border: 0;
	height: 2px;
	margin: 0 0 10px;
	width: 100%;
}
.roundcorner {
	-webkit-border-radius: .8em;
	-moz-border-radius: .8em;
	border-radius: .8em;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}
.float-right {
	float: right;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.small {
	font-size: .8em;
}
input {
	font: 1em Arial,Helvetica,sans-serif;
}
textarea {
	font: 1em Arial,Helvetica,sans-serif;
}
.Full {
	width: 96%;
	margin: 0 2%;
}
.oneHalf {
	width: 48%;
	margin: 0 1%;
}
.oneThird {
	width: 31.333%;
	margin: 0 1%;
}
.twoThird {
	width: 62.666%;
	margin: 0 2%;
}
.oneFourth {
	width: 23%;
	margin: 0 1%;
}
.threeFourth {
	width: 71%;
	margin: 0 2%;
}
.oneFifth {
	width: 18%;
	margin: 0 1%;
}
.twoFifth {
	width: 38%;
	margin: 0 1%;
}
.threeFifth {
	width: 56%;
	margin: 0 2%;
}
.fourFifth {
	width: 76%;
	margin: 0 2%;
}
.oneSixth {
	width: 14.666%;
	margin: 0 1%;
}
.fiveSixth {
	width: 79.333%;
	margin: 0 2%;
}
.oneEighth {
	width: 10.5%;
	margin: 0 1%;
}
.threeEighth {
	width: 35.5%;
	margin: 0 1%;
}
.fiveEighth {
	width: 58.5%;
	margin: 0 2%;
}
.sevenEighth {
	width: 83.5%;
	margin: 0 2%;
}
.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
* {
	html {
		.clearfix {
			zoom: 1;
		}
	}
}
table.gadget {
	span.title {
		font-size: 12px;
		margin: inherit;
		background: inherit;
		padding: inherit;
		color: $color_2;
	}
	span.powered {
		font-size: 10px;
		color: $color_2;
	}
}
#IL {
	width: 100%;
	margin: 0 auto;
}
#IL_Main {
	h2 {
		margin-bottom: 10px;
	}
}
#IL_Search {
	margin-top: 40px;
	label {
		line-height: 30px;
		font-weight: 700;
	}
	input {
		&:not([type=submit]) {
			height: 30px;
			line-height: 30px;
			width: 180px;
		}
	}
}
.editable {
	min-height: 30px;
}
#ListBooks {
	table {
		margin-bottom: 20px;
		display: block;
		width: 100%;
		margin-bottom: 20px;
		display: block;
		width: 100%;
		td {
			background: 0 0 !important;
			display: block;
			padding: 0;
			background: 0 0 !important;
			display: block;
			padding: 0;
			font {
				color: $color_3;
				font-size: revert;
				font-family: $font-family_1;
				line-height: revert;
				color: $color_3;
				font-size: revert;
				font-family: $font-family_1;
				line-height: revert;
			}
		}
	}
	b {
		font-weight: 400;
		text-align: left !important;
		display: block;
		font-weight: 400;
		text-align: left !important;
		display: block;
	}
	font {
		b {
			font-weight: 400;
			text-align: left !important;
			display: block;
			font-weight: 400;
			text-align: left !important;
			display: block;
		}
	}
	>table {
		>tbody {
			>tr {
				&:nth-child(1) {
					>td {
						>center {
							b {
								font-weight: 400;
								font-size: 1.6em;
								line-height: initial;
								font-weight: 400;
								font-size: 1.6em;
								line-height: initial;
							}
							>font {
								>b {
									font-weight: 400;
									font-size: 1.6em;
									line-height: initial;
									font-weight: 400;
									font-size: 1.6em;
									line-height: initial;
								}
							}
						}
					}
				}
				>td {
					>center {
						b {
							font-weight: 700;
							font-weight: 700;
						}
						>font {
							>b {
								font-weight: 700;
								font-weight: 700;
							}
						}
					}
				}
				&:nth-child(2) {
					td {
						&:nth-child(2) {
							text-align: left !important;
							display: block;
							text-align: left !important;
							display: block;
							font {
								text-align: left !important;
								display: block;
								text-align: left !important;
								display: block;
							}
						}
					}
				}
			}
		}
	}
	img {
		margin: 30px 20px 20px 0;
		-webkit-box-shadow: 0 10px 15px rgb(0 0 0 / 50%);
		box-shadow: 0 10px 15px rgb(0 0 0 / 50%);
		float: left;
		margin: 30px 20px 20px 0;
		-webkit-box-shadow: 0 10px 15px rgb(0 0 0 / 50%);
		box-shadow: 0 10px 15px rgb(0 0 0 / 50%);
		float: left;
	}
}
@media screen and (max-width:1064px) {
	#IL_Tabs {
		h3 {
			display: none;
		}
		li {
			display: none;
		}
		select {
			display: block;
			width: 100%;
			margin: 0 0 20px;
			position: relative;
			left: -20px;
		}
		float: none;
		width: 100%;
		background: 0 0;
	}
	#IL_Search {
		label {
			display: block;
			margin-bottom: 10px;
		}
		input {
			&:not([type=submit]) {
				width: 180px;
			}
		}
	}
}
