body {
  color: #2d3e50;
  background: #f4fafc;
}

#logo {
  color: #2d3e50;
}
#logo h2:before {
  background: url(image/icon-1.svg) no-repeat;
}

#CP_TopBar a:not(.btn) {
  color: #2d3e50;
}
#CP_TopBar a:not(.btn):hover {
  color: #2da1a0;
}

#CP_Breadcrumbs a {
  color: #2d3e50;
}
#CP_Breadcrumbs a:hover {
  color: #2da1a0;
}

#services {
  color: #2d3e50;
}

#CP_SmartMenu a:hover {
  color: #2d3e50;
}
#CP_SmartMenu a .sub-arrow::before {
  background: #2d82a1;
}
#CP_SmartMenu a .sub-arrow::after {
  background: #2d82a1;
}
#CP_SmartMenu ul a {
  color: #2d3e50;
}
#CP_SmartMenu ul a:hover {
  color: #2d3e50;
}
#CP_SmartMenu ul a:focus {
  color: #2d3e50;
}
#CP_SmartMenu ul a:active {
  color: #2d3e50;
}

a {
  color: #2da1a0;
  text-decoration: none;
}
a:hover {
  color: #2d82a1;
  text-decoration: underline;
}
a:focus {
  color: #2d82a1;
  text-decoration: underline;
}

.color-1 {
  color: #2da1a0 !important;
  border-color: #2da1a0 !important;
}

.bg-color-1 {
  background-color: #2da1a0 !important;
  border-color: #2da1a0 !important;
  color: #fff !important;
}

.color-2 {
  color: #2d82a1 !important;
  border-color: #2d82a1 !important;
}

.bg-color-2 {
  background-color: #2d82a1 !important;
  border-color: #2d82a1 !important;
  color: #fff !important;
}

.color-3 {
  color: #f4fafc !important;
  border-color: #f4fafc !important;
}

.bg-color-3 {
  background-color: #f4fafc !important;
  border-color: #f4fafc !important;
}

.white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
  border-color: #fff !important;
}

.black {
  color: #000 !important;
}

.bg-black {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}

.btn-default {
  color: #2da1a0;
  border-color: #2da1a0;
}
.btn-default:focus {
  color: #2da1a0;
  border-color: #2da1a0;
}
.btn-default:active {
  color: #2da1a0;
  border-color: #2da1a0;
}
.btn-default:active:hover {
  background: #2da1a0;
  border-color: #2da1a0;
}
.btn-default:hover {
  background: #2da1a0;
  border-color: #2da1a0;
}

.btn-primary {
  background: #2da1a0;
  border-color: #2da1a0;
}
.btn-primary:focus {
  background: #2da1a0;
  border-color: #2da1a0;
}
.btn-primary:active {
  background: #2da1a0;
  border-color: #2da1a0;
}
.btn-primary:active:hover {
  background: #2d82a1;
  border-color: #2d82a1;
}
.btn-primary:hover {
  background: #2d82a1;
  border-color: #2d82a1;
}

footer {
  background: #111111;
}
footer a:hover {
  color: #2da1a0;
}

#CP_FeatureSub {
  background-image: linear-gradient(to right, #2d82a1, #2da1a0);
}

.modal-backdrop {
  background: rgba(244, 250, 252, 0.9);
}

body.blurFix #CP_StyleOverlay {
  background: rgba(244, 250, 252, 0.9);
}

@media (min-width: 992px) {
  #CP_SmartMenu ul a:hover {
    color: #fff;
    background: #2da1a0;
  }
  #CP_SmartMenu ul a:focus {
    color: #fff;
    background: #2da1a0;
  }
  #CP_SmartMenu ul a:active {
    color: #fff;
    background: #2da1a0;
  }
  #CP_SmartMenu ul a .sub-arrow {
    border-left: 4px solid #2da1a0;
  }
  #CP_SmartMenu ul a.highlighted {
    color: #fff;
    background: #2da1a0;
  }
  #CP_SmartMenu a .sub-arrow {
    border-top: 8px solid #2da1a0;
  }
  #CP_SmartMenu .scroll-up-arrow {
    border-color: transparent transparent #2da1a0 transparent;
  }
  #CP_SmartMenu .scroll-down-arrow {
    border-color: transparent transparent #2da1a0 transparent;
    border-color: #2da1a0 transparent transparent transparent;
  }
}
@media (max-width: 991px) {
  #CP_FeatureHome .container .tagline {
    background: linear-gradient(0deg, rgba(244, 250, 252, 0.7) 75%, rgba(244, 250, 252, 0) 100%);
  }
}/*# sourceMappingURL=color-1.css.map */