#CP_FeatureHome {
	border: none;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	height: 65vh;
	min-height: 400px;
	.container {
		position: relative;
		height: 100%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
		z-index: 4;
		.row {
			width: calc(100% + 30px);
		}
		button {
			background-color: #2da1a0;
			color: #fff;
			border-color: #2da1a0;
			font-size: 14px;
		}
	}
	#Person {
		position: absolute;
		height: 100%;
		width: auto;
		right: -5px;
		bottom: 0;
	}
}
.text-shadow {
	text-shadow: 0 0 5px rgba(0, 0, 0, .75);
}
.box-shadow {
	box-shadow: 0 0 5px rgba(0, 0, 0, .75);
}
