
#CP_TopBar {
	padding: 15px 0;
	min-height: 35px;
	margin: 0;
	width: 100%;
	position: relative;
	.links {
		text-align: right;
		height: 35px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
	}
	.buttons {
		height: 35px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
	}
	.fa {
		padding: 0 5px;
		font-size: 20px;
	}
	a {
		&:not(.btn) {
			font-size: 14px;
			display: inline-block;
			text-decoration: none;
			height: 35px;
			line-height: 35px;
			padding: 0 5px;
		}
		span {
			display: block;
			height: 35px;
			line-height: 35px;
			float: left;
		}
		.fa {
			display: block;
			height: 35px;
			line-height: 35px;
			float: left;
			z-index: 2;
			position: relative;
			float: none;
		}
		flex: 1;
		text-align: center;
		position: relative;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
	}
	.row {
		width: 100%;
		margin: 0;
	}
}
